<a href="https://colab.research.google.com/github/MubeenaHussain/MubeenaHussain/blob/main/R_WITH_GOOGLE_COLAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
library(tidyverse)

In [9]:
library(dplyr)
library(data.table)

Attaching package: ‘data.table’


The following objects are masked from ‘package:lubridate’:

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year


The following objects are masked from ‘package:dplyr’:

    between, first, last


The following object is masked from ‘package:purrr’:

    transpose

In [ ]:
print(installed.packages())

In [ ]:
library(tidyverse)
library(dplyr)
library(data.table)

In [ ]:
exoplanets <- read.csv("exoplanets.csv",skip = 4,comment.char = "#")
head(exoplanets)

Extracting distinct discovery year and discovery method

In [7]:
unique_discovery_year <- unique(exoplanets$disc_year)
print(unique_discovery_year)

unique_discovery_method <- unique(exoplanets$discoverymethod)
print(unique_discovery_method)

 [1] 2007 2009 2008 2002 1996 2020 2018 2010 2021 2013 2015 2004 2016 2006 2001
[16] 1995 2011 2019 2012 2022 2005 2023 2017 2000 2014 1999 1998 2003 1994 1992
[31] 1997
 [1] "Radial Velocity"               "Imaging"
 [3] "Eclipse Timing Variations"     "Transit"
 [5] "Astrometry"                    "Disk Kinematics"
 [7] "Microlensing"                  "Orbital Brightness Modulation"
 [9] "Pulsation Timing Variations"   "Transit Timing Variations"
[11] "Pulsar Timing"

In [ ]:
array_of_years_and_types <- data.frame(year = exoplanets$disc_year,type = exoplanets$discoverymethod)
print(array_of_years_and_types)

In [ ]:
# Load required library
library(dplyr)

# Create a data frame with the given structure
exoplanets_years <- data.frame(
  "Discovery Type" = unique(exoplanets$discoverymethod)
)

# Loop through each year
for (year in 1989:2023) {
  # Initialize the cumulative counts for each discovery type
  cumulative_counts <- numeric(length(unique(exoplanets$discoverymethod)))

  # Loop through each discovery type
  for (i in 1:length(unique(exoplanets$discoverymethod))) {
    # Calculate the cumulative count for the current year and discovery type
    numPlanets <- sum(exoplanets$disc_year <= year & exoplanets$discoverymethod == unique(exoplanets$discoverymethod)[i])
    cumulative_counts[i] <- numPlanets
  }


  # Add the cumulative counts for the current year to the data frame
  exoplanets_years[[as.character(year)]] <- cumulative_counts
}

# Print the resulting data frame
options(max.print = 10000)  # Adjust this number based on your data frame size
print(exoplanets_years)